.btn,
.btn-icon,
.btn-small {
  cursor: pointer;
  transition: 0.3s ease-out;

  border: none;
  outline: none;

  display: flex;
  justify-content: flex-start;

  align-items: center;

  text-transform: uppercase;
  border-radius: var(--border-radius);
  font-style: normal;
  font-family: var(--ss);
}

.btn-icon,
.btn {
  padding: 12px 24px;
  letter-spacing: 0.02rem;

  font-weight: 600;
  font-size: 0.95rem;
  line-height: 22px;
}

.btn {
  justify-content: center;
}

.btn-small {
  padding: 4px 12px;

  letter-spacing: 0.02rem;
  line-height: 22px;

  font-weight: 500;
  font-size: 0.85rem;
}

.btn-icon {
  padding: 12px 24px 12px 12px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;

  border-radius: var(--border-radius);

  & svg {
    margin-right: 10px;
  }
}

.btn,
.btn-icon,
.btn-small {
  &.btn-primary {
    color: var(--light);
    background: var(--primary);
    &:hover {
      filter: brightness(120%);
    }
  }

  &.btn-secondary {
    color: var(--light);
    background: var(--secondary);
    &:hover {
      filter: brightness(120%);
    }
  }
  &.btn-tertiary {
    color: var(--light-00);
    background: var(--tertiary);
    &:hover {
      filter: brightness(120%);
    }
  }
  &.btn-light {
    color: var(--light-00);
    background: var(--light-100);
    &:hover {
      filter: brightness(120%);
    }
  }
  &.btn-dark {
    color: var(--light-100);
    background: var(--light-00);
    &:hover {
      filter: brightness(120%);
    }
  }
  &.btn-disabled {
    color: var(--dark-80);
    background: var(--dark-20);
    cursor: not-allowed;
    &:hover {
      filter: none;
    }
  }
}

.mw-100 {
  min-width: 100px;
}

.mw-200 {
  min-width: 200px;
}

.mw-300 {
  min-width: 300px;
}

.btn--link {
  border: none;
  border-radius: 4px;
  background: none;
  outline: none;
  color: var(--light-100);
  font-size: 1rem;
  font-family: var(--ss);
  font-weight: 500;
  cursor: pointer;
  &.btn--link-primary {
    color: var(--light-100);

    display: block;
    padding: 0.5rem 1rem;
    background: var(--secondary);
    border-radius: 4px;
  }
}
// - - - - - - - - link - - - - - - - -
.link {
  font-family: var(--ss);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;

  &.link-primary {
    color: var(--primary);
  }
  &.link-secondary {
    color: var(--secondary);
  }
  &.link-light {
    color: var(--light);

    display: block;
    padding: 0.5rem 1rem;
    background: var(--secondary);
    border-radius: 4px;
  }
  &.link-dark {
    color: var(--dark);
  }
}

// alert
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  animation-name: fadeInUp;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  &.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }
  &.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
  &.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

//////
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.list-items {
  display: flex;
  background: var(--light-20);
  margin-bottom: 0.25rem;
  border: 1px solid var(--light-40);
  align-items: center;
  border-radius: var(--border-radius);
  gap: 0.75rem;
  &:hover {
    filter: brightness(120%);
  }
  small {
    padding-right: 1rem;
  }
}

.tags {
  a,
  small {
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid var(--light-80);
    box-sizing: border-box;
    color: var(--light-80);
    border-radius: 50px;
  }
}
.videos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}

.list {
  b {
    margin-right: 0.25rem;
    color: var(--light-100);
  }
  color: var(--light-80);
}

//
.movie-item {
  outline: 1px solid var(--light-00);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.12);
  max-width: 150px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  &:hover {
    outline: 1px solid var(--primary);
  }
  a,
  span {
    color: var(--light-80);
    letter-spacing: 0.04rem;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  p {
    flex: 1;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - REMAKE
.flex-center,
.flex-start,
.flex-column {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}
// - - - - - - - - - - - - - - - - - - - - - - - - NEW LIST
.new-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin: 0 auto;
}
// - - - - - - - - - - - - - - - - - - - - - - - - SEARCH
.search-field {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 80%;
  margin: 0 auto;
}
.search-result {
  position: absolute;
  display: flex;
  background: var(--light-100);
  box-shadow: var(--shadow-4);
  padding: 1rem;
  z-index: 100;
  top: 70;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
// - - - - - - - - - - - - - - - - - - - - - - - - FORM
form .form-group {
  margin-bottom: 1.25rem;
  min-width: 350px;
}

.form-group {
  display: block;
  label {
    display: inline-block;
    margin-bottom: 4px;
    letter-spacing: 0.01rem;
    font-family: var(--ss);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    color: var(--light-80);
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--light-80);
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--light-40);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      border: 1px solid var(--primary);
      outline: 1px solid var(--primary);
      color: var(--light-100);
    }
  }
}

.form-group-checkbox {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--light-40);

  padding: 5px 8px 6px;
  border-radius: var(--border-radius);

  label {
    padding: 0.5rem 0.15rem;
    display: inline-block;
    letter-spacing: 0.03rem;
    font-family: var(--ss);
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    color: --var(light-80);
  }
}
// - - - - - - - - - - - - - - - - - - - - - - - - SPACE

.mb-1 {
  margin-bottom: 0.1rem;
}
.mb-2 {
  margin-bottom: 0.2rem;
}
.mb-3 {
  margin-bottom: 0.3rem;
}
.mb-4 {
  margin-bottom: 0.4rem;
}
.mb-5 {
  margin-bottom: 0.5rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
//
.mr-1 {
  margin-right: 0.1rem;
}
.mr-2 {
  margin-right: 0.2rem;
}
.mr-3 {
  margin-right: 0.3rem;
}
.mr-4 {
  margin-right: 0.4rem;
}
.mr-5 {
  margin-right: 0.5rem;
}
.mr-10 {
  margin-right: 1rem;
}
.mr-20 {
  margin-right: 2rem;
}
// - - - - - - - - - - - - - - - - - - - - - - - - MASONRY
.my-masonry-grid {
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // margin-bottom: 10px;
}
